/**
*    injected.css
*
*    CenterImages Safari Extension
*    Version 6.0.2

*    © 2012 lucdesign
**/

body.CenterImages > img:only-child {
  opacity: 1;
  -webkit-transition-property: opacity;
}

body:not(.CenterImages) > img:only-child {
  opacity: 0;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.3s;
}

.CenterImages, .CenterImages * {
  margin: 0;
  padding: 0;
  position: absolute;
  -webkit-transition-duration: 0.3s;
}


.CenterImages {
  background: url(../gfx/badge.png) 0px 10px no-repeat fixed;
  cursor: default, url(../gfx/bgColor.cur), default;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  text-align: center;
  -webkit-user-select: none;
  font-size: 0;
  -webkit-transition-property: background-color;
}

.CenterImages.enhanced img:not(#proxy),
.CenterImages:not(.enhanced) img#proxy {
  opacity: 0; z-index: -1;
}

.CenterImages.drag { cursor: url(../gfx/bgColor.cur), default; -webkit-transition-duration: 0s; }

.CenterImages * { -webkit-transition-property: opacity; }

/* cursors */

.CenterImages:not(.zoom) img { cursor: -webkit-zoom-in; clear: both; }
.CenterImages.zoom img { cursor: -webkit-zoom-out; }
.CenterImages.bigger:not(.zoom) img { cursor: -webkit-zoom-out; }
.CenterImages.bigger.zoom img { cursor: -webkit-zoom-in; }


/* positioning */

/* for original size */
.CenterImages:not(.zoom) img { top: 50%; left: 50%; }

.CenterImages:not(.zoom).wider img { left: 0; }
.CenterImages:not(.zoom).taller img { top: 0; }

/* for .zoom */
.CenterImages.zoom { overflow: hidden; }
.CenterImages.zoom img { left: 0; top: 0; }

.CenterImages.zoom img { width: auto; height: 100%; }
.CenterImages.zoom.shimOnTop img { width: 100%; height: auto; }

/*************************************** EFFECTS ************************************************/

.CenterImages#Shadow img {
  box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}

.CenterImages#Reflection img {
  -webkit-box-reflect:
  below 1px -webkit-linear-gradient( top, transparent, transparent 70%, rgba(0,0,0,.3) );
}

/*************************************** EQ INDICATOR ************************************************/

.CenterImages .indicator {
  position: fixed;
  text-align: left;
  background-color: transparent;
  left: 147px;
  top: 0;
  color: rgba(50,255,0,.5);
  text-shadow: 0px 0px 10px rgba(0,255,0,.3);
  text-align: center;
  line-height: 42px;
  font-size: 11px;
  -webkit-transition-property: opacity;
  font-family: 'Eurostile-Extended-Two', Verdana;
  z-index: -1;
}

.CenterImages .indicator::before { content: 'EQ'; }

.CenterImages:not(.enhanced) .indicator {
  color: rgba(255,50,0,.5);
  text-shadow: 0 0 10px rgba(255,0,0,.3);
}

.CenterImages:not(.enhanced) .indicator.inactive {
  color: transparent;
  text-shadow: none;
}

/*************************************** INSTRUCTIONS WINDOW ************************************************/

.CenterImages .helpWindow * {
  position: relative;
}

.CenterImages .helpWindow {
  font-size: 12px;
  line-height: 15px;
  font-family: 'Lucida Grande', Verdana, sans-serif;
  text-align: center;
  position: absolute;
  top: 20%;
  left: 50%;
  margin: 0 -350px 0 -350px;
  width: 600px;
  color: black;
  padding: 40px;
  z-index: 10;
  border: 10px solid rgba(233,233,233,1);
  background: transparent -webkit-gradient(linear, left top, left bottom, from(rgba(240,240,240,0.95)), to(rgba(200,200,200,0.95)));
  -webkit-border-radius: 20px;
  -webkit-box-shadow: 0px 3px 15px rgba(0,0,0,.5);
  -webkit-transform-origin: 90% top;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
}

.CenterImages:not(.help) .helpWindow {
  -webkit-transform: translate( 0, -220px ) scale(0) ;
}

.CenterImages .helpWindow h1 {
  font-size: 22px;
  line-height: 33px;

}

/* INSTRUCTIONS CLOSE BUTTON */

.CenterImages .helpWindow .xButton { 
  position: absolute;
  top: 10px;
  right: 10px;
  width: 38px;
  height: 38px;
  background: transparent -webkit-gradient(linear, left top, left bottom, from(hsla(0,0%,100%,.2)), to(hsla(0,0%,0%,.2)));
  border-radius: 20px;
  -webkit-box-shadow:
  inset 0px -2px 2px rgba(0,0,0,.3),
  0px 2px 2px rgba(255,255,255,.3),
  0px -2px 2px rgba(0,0,0,.3);
  border: 1px solid rgba(0,0,0,.7);
  -webkit-transition-property: all;
}

/* the cross on the close button is pure CSS */
.CenterImages .helpWindow .xButton:before,
.CenterImages .helpWindow .xButton:after {
  content: '';
  width: 30px;
  height: 6px;
  border-radius: 3px;
  margin: -3px -15px;
  background-color: #aaa;
  position: absolute;
  top: 19px;
  left: 19px;
}

.CenterImages .helpWindow .xButton:before { -webkit-transform: rotate(135deg); box-shadow: inset 0px -1px 1px rgba(0,0,0,.4); }
.CenterImages .helpWindow .xButton:after { -webkit-transform: rotate(45deg); box-shadow: inset 1px 0px 1px rgba(0,0,0,.4); }
.CenterImages .helpWindow .xButton:hover { background-color: red; }
.CenterImages .helpWindow .xButton:hover:before,
.CenterImages .helpWindow .xButton:hover:after { background-color: white }
.CenterImages .helpWindow .xButton:active { 
  -webkit-box-shadow:
  inset 0px 2px 2px rgba(0,0,0,.2),
  inset 0px -2px 2px rgba(0,0,0,.2),
  0px -2px 2px rgba(0,0,0,.3),
  0px 2px 2px rgba(255,255,255,.7);
}

.CenterImages .helpWindow h1, .CenterImages h3                  { font-weight: bold; }
.CenterImages .helpWindow h1                                    { font-size: 27px; margin-bottom: 14px; }
.CenterImages .helpWindow h3, .CenterImages p, .CenterImages hr { margin-bottom: 8px !important; }
.CenterImages .helpWindow h3                                    { font-size: 12px; }

.CenterImages .svgWrapper {
  display: block;
  overflow: hidden;
  background-color: transparent;
}

/* HUD FOR MULTI IMAGE MODE (inactive to date) */

.CenterImages.hud {
  display: block;
  position: absolute;
  height: 20px;
  margin-top: 0;
  background-color: rgba(0,0,0,.5);
  color: rgb(200,200,200);
  font-size: 16px;
  font-weight: normal;
  text-shadow: 1px 1px 1px black;
  text-indent: 5px;
  overflow: hidden;
  -webkit-transition-property: opacity;
}

.CenterImages.hud span.button {
  width: 20px;
  height: 16px;
  margin: 2px 5px;
  border-radius: 2px;
  background-color: #aaa;
  float: right;
  cursor: pointer;
  display: block;
}